PORT=3000
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=wager
DATABASE_PASSWORD=wager
DATABASE_NAME=wager
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
AWS_ENDPOINT_URL=http://localhost:4566
SQS_WAGER_QUEUE_URL=http://sqs.us-east-1.localhost.localstack.cloud:4566/000000000000/wager-transactions.fifo
SQS_WAGER_DLQ_URL=http://sqs.us-east-1.localhost.localstack.cloud:4566/000000000000/wager-transactions-dlq.fifo
SQS_EVENTS_QUEUE_URL=http://sqs.us-east-1.localhost.localstack.cloud:4566/000000000000/integration-events.fifo
LOG_LEVEL=info
